# Node / Backend
backend/node_modules/
backend/.env
backend/serviceAccountKey.json
backend/firebase-service-account.json
backend/coverage/
*.log

# Flutter / Mobile
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.pub/
mobile/.pub-cache/
mobile/android/app/debug
mobile/android/app/profile
mobile/android/app/release

# IDE / System
.idea/
*.iml
.vscode/
.DS_Store

.vercel
.env*
